{% extends 'base.html' %}
{% load static %}

{% block title %}demos{% endblock title %}

{% block header_imports %}
<link rel="stylesheet" href="{% static 'css/demos.css' %}">
<script src="{% static 'js/demos.js' %}"></script>
{% endblock header_imports %}


{% block content %}
    <div class="demos-container">
        <div class="demo-header">
            <h2>demos</h2>
            <h5>normally, both your asses would be dead as fucking fried chicken</h5>
        </div>
        <div class="demo-item">
            <div class="demo-item-header">
                <a class="opener">
                    <i class="fas fa-window-maximize" aria-hidden="true"></i>
                </a>
                <div class="header">
                    <h3>demo item header</h3>
                </div>
            </div>
            <div class="demo-item-content">
                <form action="post">
                    <textarea name="" id="" cols="80" rows="20"></textarea>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}